@inherits StatiqRazorPage<Sleepwalking.Theme.NavItem>

@{
	<p>
		@if (Model.Previous != null) {
			<a href="@Context.GetLink(Model.Previous)">
				&laquo; @(Model.IsPost || Model.Type == NavItem.ArchiveType.Months ? Model.Previous.GetString("Title") : "Vanemad postitused")
			</a>
		}
	</p>
}

@{
	<p>
		@if (Model.Next != null) {
			<a href="@Context.GetLink(Model.Next)">
				@(Model.IsPost || Model.Type == NavItem.ArchiveType.Months ? Model.Next.GetString("Title") : "Uuemad postitused") &raquo;
			</a>
		}
	</p>
}
