@{ 
	var date = @Model.GetDateTime(WebKeys.Published).ToString("yyyy/MM");
	var doc = OutputPages[$"{date}/index.html"].FirstOrDefault();
}

<em>
	<a href="@Context.GetLink(doc)">
		<time>@Model.GetDateTime(WebKeys.Published).ToString("dd. MMMM yyyy", new System.Globalization.CultureInfo("et_EE"))</time>
	</a>
	ยง
	<a href="@Context.GetLink(Model)">Permalink</a>
	ยง
	@await Html.PartialAsync("_Tags.cshtml", Model)
</em>
