ArchiveSources: => GetString("PostSources")
ArchiveOrderKey: Published
ArchiveOrderDescending: true
IncludeInSitemap: false
---

@{
	Layout = "_Layout.cshtml";
	var post = Model.GetChildren().First();
}

<h1>@Html.DocumentLink(post)</h1>

<nav class="meta">
	@await Html.PartialAsync("_Meta.cshtml", post)
</nav>

<article>
	@Html.Raw(await post.GetContentStringAsync())
</article>

<nav class="pager">
	@if(Model.GetChildren().Count > 1) { <a href="/posts">&laquo; Vanemad postitused</a> }
	<span></span>
</nav>

