ArchiveSources: => GetString("PostSources")
ArchiveOrderKey: Published
ArchiveKey: => GetDateTime("Published").ToString("yyyy/MM")
ArchiveOrderDescending: true
ArchiveTitle: => GetDateTime("GroupKey").ToString("MMMM yyyy", new System.Globalization.CultureInfo("et-EE", false))
ArchiveDestination: => NormalizedPath.Combine(GetString("GroupKey")).Combine("index.html")
IncludeInSitemap: false
ArchiveType: months
---

@{
	Layout = "_Layout.cshtml";
	var previous = Model.GetDocument(Keys.Previous);
	var next = Model.GetDocument(Keys.Next);
	var textinfo = new System.Globalization.CultureInfo("en-US", false).TextInfo;
}

<h1 class="topic"><i class="fal fa-calendar-alt"></i> @textinfo.ToTitleCase(Document.GetTitle())</h1>

@foreach (var tag in Model.GetChildren().OrderByDescending(x => x.GetChildren().Count())) {
	<h2><a href="@Context.GetLink(tag)">@tag.GetTitle()</a></h2>
	<p>@Html.Raw(tag.GetString(Keys.Excerpt))</p>
}

<nav class="pager">
	@if(previous != null) { <a href="@previous?.GetLink()">&laquo; Previous</a> }
	@if(next != null) { <a href="@next?.GetLink()">Next &raquo;</a> }
</nav>
