ArchiveSources: => GetString("PostSources")
ArchiveOrderKey: Published
ArchiveOrderDescending: true
ArchivePageSize: 10
IncludeInSitemap: false
---

@{
	Layout = "_Layout.cshtml";
	var previous = Model.GetDocument(Keys.Previous);
	var next = Model.GetDocument(Keys.Next);
}

<h1>Arhiiv #@Model.GetString(Keys.Index)</h1>

@foreach (var post in Model.GetChildren()) {
	@if(previous == null && post == Model.GetChildren().First()) continue;

	<h2>@Html.DocumentLink(post)</h2>

	<nav class="meta">
		@await Html.PartialAsync("_Meta.cshtml", post)
	</nav>

	<p>@Html.Raw(post.GetString(Keys.Excerpt))</p>
}

<nav class="pager">
	@if(next != null) { <a href="@next?.GetLink()">&laquo; Vanemad postitused</a> }
	<a href="@($"{previous?.GetLink() ?? "/"}")">Uuemad postitused &raquo;</a>
</nav>
